
* {
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: logoFont;
    src: url("../fonts/TESLA.ttf")
}

@font-face {
    font-family: topBarFont;
    src: url("../fonts/LT_Reponse.otf")
}

#logo {
    font-family: logoFont;
    position: relative;
    top: 10px;
    margin-left: 15px;
    margin-right: 20px;
    cursor: context-menu;
    user-select: none;
}

#top-bar {
    font-family: topBarFont;
    background-color: yellowgreen;
    height: 33px;
    width: 100%;
    border-bottom: 2px solid rgb(126, 167, 44);
}

.float-left {
    float: left;
}

.float-right {
    float: right;
    margin-right: 20px;
}

.a-bit-down {
    position: relative;
    top: 6px;
}

.remove-margin-left {
    margin-left: 0;
}

ul {
    list-style-type: none;
    background-color: violet;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -3px !important;
        
}

.pointer {
    cursor: pointer;
}

li {
    padding: 2px 8px;
    border: 1px solid rgb(126, 167, 44);
    cursor: pointer;
    user-select: none;
}

.no-border-right {
    border-right: none;
}

.float-clear {
    clear: both;
}

.curved-border-right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.curved-border-left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

textarea {
    border: none;
    resize: none;
    outline: 0px solid transparent;
}

.work-sheet {
    height: 685px; 
    display: none;
    min-width: 10%;
}

.border-left {
    height: 685px;
    width: 1px;
    background-color: rgb(177, 177, 177);
    margin: 0;
    padding: 0;
}


/* Use the [attribute] selector to select all elements
 that are contenteditable, and remove the border with the outline property*/
/* [contenteditable] {
    outline: 0px solid transparent;
} */

#coding {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    height: 685px;
    user-select: none;
}

/* .work-sheet-border-left {
    border-left: 1px solid rgb(177, 177, 177);
    margin: 0;
    padding: 0;
} */

#coding p {
    color:yellowgreen;
    font-family: logoFont;
    position: relative;
    top: 290px;
    font-size: 120px;
}

#file:hover, #help:hover {
    border-right: 2px solid rgb(126, 167, 44);
    border-left: 2px solid rgb(126, 167, 44);
    background-color: rgb(140, 187, 46);
    

}

.btn-non-active:hover {
    background-color: rgb(140, 187, 46);
}

.btn-active:hover {
    background-color: rgb(198, 235, 64);
}

.btn-active {
    background-color: rgb(181, 216, 56);
    
}

#file {
    padding: 0px 8px;
    height: 35px;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    position: relative;
    top: -1px;
    user-select: none;
}

#help {
    padding: 0px 8px;
    height: 35px;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    position: relative;
    top: -1px;
    user-select: none;
}

#help p {
    position: relative;
    top: 7px;

}

#file p { 
    position: relative;
    top: 7px;
}

.header {
    width: 90%;
    height: 5%;
}

.header p {
    font-family: topBarFont;
    margin-left: 10px;
    margin-top: 10px;
    color: rgb(119, 0, 255) ;
    position: relative;
    z-index: 1;
}

.paper {
    width: 90%;
    height: 93%;
    padding: 0 15px 0 10px;
    position: relative;
    z-index: 1;
    left: 3px;
}

.hidden {
    display: none;
}

.editor-border {
    height: 750px;
    background-color:gray;
    width: 0.5px;
    cursor: col-resize;
}
/* 
#editor {
    width: 99%;
    height: 600px;
} */
